.header {
  position: absolute;
  top: 5%;
  left: 2%;
  right: 2%;
  display: block;
}

.block {
  margin-top: 10px;
}

.body {
  position: absolute;
  top: 5%;
  left: 2%;
  right: 2%;
  bottom: 5%;
  display: block;
}

.statistics {
  margin-top: 10px;
  margin-bottom: 10px;
}

